body{
  overflow-x: hidden;
}
.heading{
  background-color: #282957;
  height:20vh;
  color:white;
  font-size: 5em;
  overflow: hidden;
}
.Paperq{
  padding-left:40%;
}
.logo{
  background-image: url('img/cycle.jpg');
  height:80vh;
}
button{
  background-color: rgba(255, 255, 0255, 0.4);
  height: 100px;
  width: 300px;
  margin-top: 20%;
  border-radius: 20px;
  margin-left: 20%;
  font-size: 2em;
  color:white;
}
.s{
  margin-top: 12%;
  padding-left: 4.5%;
}
/*
@media screen and (max-height:660px)
{
.Paperq{
margin-left:-30%!important;
}
.heading{
  text-align: center;
  padding-left:13%;
}
button{
height: 100px;
width: 200px;
margin-top: 2vh;
margin-left:24%;
}
.s{
  margin-top: 5%;
  margin-left: 3%;
}
.logo{
  height: 85vh;
}
}

*/


/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: portrait) {
    .Paperq{
    margin-left:-30%!important;
    }
    .heading{
      text-align: center;
      padding-left:13%;
    }
    button{
    height: 100px;
    width: 200px;
    margin-top: 2vh;
    margin-left:24%;
    }
    .s{
      margin-top: 5%;
      margin-left: 3%;
    }
    .logo{
      height: 85vh;
    }
}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape) {
    .heading{
      background-color: #282957;
      height:10vh;
      color:white;
      font-size: 3em;
      overflow: hidden;
    }
    .Paperq{
    margin-left:-30%!important;
    }
    .logo{
      display: inline-flex!important;
      height:90vh;
    }
    .s{
      margin-top: 1%;
      margin-left: 2%;
      font-size:2em;
    }
}
